NODE_ENV=production
PORT=5000
USE_LOCAL_DB=false
AWS_REGION=ap-southeast-2
DYNAMODB_TABLE=SmartHome

COGNITO_ENABLED=true
COGNITO_USER_POOL_ID=ap-southeast-2_XXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
CORS_ORIGIN=http://EC2_PUBLIC_IP

CLOUDWATCH_ENABLED=true
CLOUDWATCH_LOG_GROUP=/smarthome/audit
CLOUDWATCH_APP_LOG_GROUP=/smarthome/app
CLOUDWATCH_LOG_STREAM=backend-ec2

MQTT_ENABLED=true
IOT_ENDPOINT=xxxxx-ats.iot.ap-southeast-2.amazonaws.com
IOT_CLIENT_ID=YoloHomeBackend
SIMULATOR_MODE=mqtt
IOT_DEVICE_CLIENT_ID=YoloUNODevice

ALLOW_PUBLIC_REGISTER=false
SIMULATE_DOOR=false
ALLOW_DEV_SIMULATOR=false
